/* paleta de colores usadas para fondo de la pagina 
https://www.colorhunt.co/palette/61826479ac78b0d9b1d0e7d2*/

* {
    margin: 0;
    padding: 0;
    
}

body{
    display: inline-flexbox;
    flex-wrap: wrap;
    background-color: #618264;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

/* HEADER */
header{
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #F8F9FA;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color:#000
  }

li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.container-fluid{
  display: grid;
  grid-area: auto;
}

/*FORMULARIO*/
form{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  color:#000
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: left;
  color:#000
}

input,
textarea {
  width: 300px;
  box-sizing: border-box;
  color:#000
}

input:focus,textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align:left;
  color:#000
}
button {
    margin-left: 0.5em;
    color:#000
} 

label.form-check-label{
  display: inline-block;
  width: 90%;
}
.conMail{
  color:whitesmoke;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 20px;
}

/* FOOTER */
footer{
  background-color: #79AC78;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  display:flex;
  align-content: space-around;
  margin-top: 20px;
  margin-left: 10px;
}

.iconos{ height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.laFoto { height: 150px;
    width: 150px;
    border-radius: 10%;
}
.laFotoColombo {
  height: 150px;
  width: 200px;
  border-radius: 10%;

}
 
h2{
  color:whitesmoke;
  text-align: center;
}

body section div a {
  text-decoration: none;
  color: black;
  transition: 1s;
  }
  
body section div a:hover{
  background-color: whitesmoke;
  border-radius: 10%;
}

body footer div a{
  display: flex;
  text-align:center;
  text-decoration:none;
  color: whitesmoke;
}

.redes{
  display: flex;
}

.fin{
  text-align: center;
  color:#000
}

.sobreMi{
  margin-left: 10px;
  color:whitesmoke;
  }

.container-fluid{
  display: flex;
  align-items: center;
  align-content: space-between;
}

.textito {
  text-align: justify;
  margin: 10px;
}