/* FOOTER */
$color-fondo: #79AC78;
$color-letra: #F8F9FA;
$font-family: Arial, Helvetica, sans-serif;

footer{
    
   
  display:flex-end;
  justify-content: space-between;
  align-items:end;
  margin-top: 20px;
  margin-left: 0px;

  div{
      .laFoto { 
            height: 150px;
            width: 150px;
            border-radius: 10%;
            }
      a{
         .iconos { 
             height: 35px;
             width: 35px;
             margin-right: 10px;
             margin-left: 10px;
             
             
                        }
                }
                 
     a{
        display: flex;
        text-align:center;
        text-decoration:none;
        color:  $color-letra;
        }
        .redes{
            display: flex;
            align-items:flex-end;
          }
}
}
.fin{
  text-align: center;
  color: $color-fondo;
}
